.cards-main {
    color: black;
    padding: 4rem;
    background: #fff;
}

.cards-main > h1 {
    text-align:center;
    font-size: 50px;
}

	.cards-img1 {
	float: left;
	margin: 5px;
    width: 451px;
    height: 632px;
    padding-right: 5px;
	}
    .cards-img2 {
        float: right;
        margin: 5px;
        width: 451px;
        height: 632px;
        padding-left: 5px;
        }

    .cards-activity-page, .cards-activities {
        display: flex;
        align-items: center;
    }

.space {
    line-height: 5px;
}

.arrowButton{
    color:black;
}

.arrowButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* .arrowButtonContainer{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 120px;
    z-index: 0;
} */

/* .arrowButtonContainer{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
} */

    @media screen and (max-width: 1280px) {
    .cards-img1, .cards-img2 {
        width: 357px;
        height: 500px;
    }
}

    @media screen and (max-width: 960px) {
        .cards-img1, .cards-img2 {
            width: 254px;
            height: 356px;
            }
    }

    @media screen and (max-width: 768px) {
        .cards-img1, .cards-img2 {
            width: 204px;
            height: 286px;
            }
    }