.instruct-main {
  background-color: #f9f9f9; /* Match cards background */
  color: #333; /* Text color to match cards */
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  font-family: 'Arial', sans-serif; /* Match cards font */
}

.objective {
  background-color: #FFF7CB;
  padding: 1rem;
  margin-bottom: 2rem;
}

.objective h1, .instruct-list h2, .tips-header h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50; /* Same color as section title in cards */
}

.objective p {
  font-size: 1.4rem;
}

.instruct-list {
  margin-bottom: 2rem;
}

.instruct-list p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555; /* Same as cards-description */
}

.journal-options {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.instruct-pic {
  border-radius: 10px;
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure images don't stretch */
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: #0056b3;
}

.instruct-info {
  text-align: center;
}

.instruct-info p {
  font-size: 1.2rem;
  line-height: 2;
}

.tips-header {
  margin-bottom: 1rem;
}

.tips-header .info-icon {
  font-size: 2rem;
  color: #D8C76C; /* Yellow color to match */
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .objective h1, .instruct-list h2, .tips-header h2 {
    font-size: 1.5rem;
  }

  .objective p, .instruct-list p, .instruct-info p {
    font-size: 1rem;
  }

  .instruct-pic {
    max-width: 100%;
    height: auto;
  }

  .journal-options {
    flex-direction: column;
    align-items: center;
  }
}