.journal-main {
    color: black;
    padding: 4rem;
    background: #fff;
}

.journal-main > h1 {
    text-align:center;
    font-size: 50px;
}

.journal-img1 {
	float: right;
	margin: 5px;
    width: 451px;
    height: 575px;
    padding-left: 5px;
}

.journal-img2 {
    float: left;
    margin: 5px;
    width: 450px;
    height: 370px;
    padding-right: 5px;
}

.journal-paper, .journal-online {
    align-items: center;
}

.journal-paper, .journal-instructions {
    display: flex;
}

.journal-middle {
    background-color: #FFFBE5;
}

.journal-middle > h1 {
    text-align:center;
    font-size: 50px;
    background-color: #fff7cb;
}

@media screen and (max-width: 1280px) {
    .journal-img1 {
        width: 353px;
        height: 450px;
    }
    .journal-img2 {
        width: 354px;
        height: 291px;
    }
}

@media screen and (max-width: 960px) {
    .journal-img1 {
        width: 255px;
        height: 325px;
    }
    .journal-img2 {
        width: 253px;
        height: 208px;
    }
}
@media screen and (max-width: 768px) {
    .journal-img1 {
        width: 204px;
        height: 260px;
    }
    .journal-img2 {
        width: 202px;
        height: 166px;
    }
}